@model PEALSystem.Kimbemba.Dominio.Entidades.CodigoBarra

@{
    ViewData["Title"] = "RemoveAll";
}

<h1>RemoveAll</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CodigoBarra</h4>
    <hr />
      
    <form asp-action="RemoveAll">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
