@model PEALSystem.Kimbemba.ViewModels.GerarCodigoBarraViewModel


@{
    ViewData["Title"] = "GerarCodigoBarra";
}

<h1>Gerar Codigo de Barra</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GerarCodigoBarra">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label">Quantidade</label>
                <input asp-for="Quantidade" class="form-control" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
